In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("HN-ratio.csv", sep=",")
df.head()

,GeneName,SRR1037318,SRR1037317,SRR1037314,SRR1037313,SRR1037310,SRR1037309,SRR1999315,SRR1999314,SRR1999313,...,SRR3096877,SRR3535659,SRR3535663,SRR3535667,SRR3535671,SRR3535675,SRR3535679,SRR3535683,SRR3535687,SRR3535691
0,A1BG,0.882145,1.149552,1.643580,0.961810,3.003729,1.313112,0.752687,1.760707,2.493335,...,2.128821,2.124226,3.132407,3.091951,3.090319,1.000000,2.440165,14.878706,15.996222,17.481703
1,A1CF,0.826244,0.963785,0.945125,1.378708,1.042645,0.929528,0.533085,0.391134,0.412622,...,1.000000,2.878588,0.902912,2.670307,1.409328,1.299240,1.136231,0.296580,0.080040,0.783737
2,A2M,1.010762,1.000000,1.000000,1.000000,4.242209,1.000000,0.901560,0.280491,1.418973,...,0.572119,1.606225,0.224179,1.292923,1.299972,0.224179,1.009528,1.000000,0.224179,1.000000
3,A2ML1,0.723338,1.203949,0.988296,0.790603,0.758996,0.471396,0.805394,1.032650,2.032740,...,0.843263,0.632821,1.120936,1.300955,1.168951,0.782956,0.531443,1.072824,0.782956,0.691384
4,A3GALT2,1.000000,1.000000,1.000000,1.000000,0.235511,1.000000,3.896546,0.178776,1.000000,...,2.498563,1.000000,0.717374,1.000000,1.000000,0.418113,1.000000,1.000000,0.137788,1.000000

In [3]:
df1=df.set_index('GeneName')
df1.head()

,SRR1037318,SRR1037317,SRR1037314,SRR1037313,SRR1037310,SRR1037309,SRR1999315,SRR1999314,SRR1999313,SRR1999312,...,SRR3096877,SRR3535659,SRR3535663,SRR3535667,SRR3535671,SRR3535675,SRR3535679,SRR3535683,SRR3535687,SRR3535691
GeneName,,,,,,,,,,,,,,,,,,,,,
A1BG,0.882145,1.149552,1.643580,0.961810,3.003729,1.313112,0.752687,1.760707,2.493335,2.580397,...,2.128821,2.124226,3.132407,3.091951,3.090319,1.000000,2.440165,14.878706,15.996222,17.481703
A1CF,0.826244,0.963785,0.945125,1.378708,1.042645,0.929528,0.533085,0.391134,0.412622,4.585218,...,1.000000,2.878588,0.902912,2.670307,1.409328,1.299240,1.136231,0.296580,0.080040,0.783737
A2M,1.010762,1.000000,1.000000,1.000000,4.242209,1.000000,0.901560,0.280491,1.418973,1.000000,...,0.572119,1.606225,0.224179,1.292923,1.299972,0.224179,1.009528,1.000000,0.224179,1.000000
A2ML1,0.723338,1.203949,0.988296,0.790603,0.758996,0.471396,0.805394,1.032650,2.032740,1.156311,...,0.843263,0.632821,1.120936,1.300955,1.168951,0.782956,0.531443,1.072824,0.782956,0.691384
A3GALT2,1.000000,1.000000,1.000000,1.000000,0.235511,1.000000,3.896546,0.178776,1.000000,1.000000,...,2.498563,1.000000,0.717374,1.000000,1.000000,0.418113,1.000000,1.000000,0.137788,1.000000

In [4]:

temp = pd.DataFrame()
thre = df1>=1.5
temp["up1.5"] = thre.sum(axis=1)

thre = df1>=2
temp["up2"] = thre.sum(axis=1)

thre = df1<=1/1.5
temp["dn1.5"] = thre.sum(axis=1)

thre = df1<=1/2
temp["dn2"] = thre.sum(axis=1)

thre = df1 >= 0
temp["all"] = thre.sum(axis=1)

temp["unchange1.5"] = temp["all"] - temp["up1.5"] - temp["dn1.5"]
temp["unchange2"] = temp["all"] - temp["up2"] - temp["dn2"]

temp["HN1.5"] = temp["up1.5"] - temp["dn1.5"]
temp["HN2"] = temp["up2"] - temp["dn2"]

temp

          up1.5  up2  dn1.5  dn2  all  unchange1.5  unchange2  HN1.5  HN2
GeneName
A1BG        183  116     64   35  495          248        344    119   81
A1CF         45   17     55   29  495          395        449    -10  -12
A2M          90   55    102   66  495          303        374    -12  -11
A2ML1       105   55    127   68  495          263        372    -22  -13
A3GALT2      61   51     78   55  495          356        389    -17   -4
...         ...  ...    ...  ...  ...          ...        ...    ...  ...
ZXDC        116   46     58   31  495          321        418     58   15
ZYG11A       83   43    129   53  495          283        399    -46  -10
ZYG11B      101   43     78   35  495          316        417     23    8
ZYX          89   37     97   48  495          309        410     -8  -11
ZZEF1        99   52     93   47  495          303        396      6    5

[19643 rows x 9 columns]

In [5]:
temp.loc[["VEGFA","HIF1A"],:]

          up1.5  up2  dn1.5  dn2  all  unchange1.5  unchange2  HN1.5  HN2
GeneName
VEGFA       406  351     25   17  495           64        127    381  334
HIF1A        61   43    210  124  495          224        328   -149  -81

In [6]:
temp=temp.reset_index()

In [7]:
temp.to_csv("HN-score.csv", sep=",")